@font-face {
  font-family: 'Machine Regular';
  src: local('Machine Regular'), url('./fonts/Machine-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'Montserrat', 'Source Sans 3', sans-serif, 'Helvetica Neue', sans-serif;
  font-size: 0.95em;
  font-weight: 400;
  color: #fff;
  background-color: #16161d;
  line-height: 180%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.heading-1, .heading-3 {
  font-family: 'Machine Regular', 'Montserrat', sans-serif;
  font-weight: 400;
}

.heading-1 {
  font-size: 2.5em;
  line-height: 150%
}

.heading-3 {
  font-size: 1.25em;
}

/* Navbar */
.Logo {
  height: 3em;
  background-color: #fff;
  padding: 1em 1em 1.5em;
}

.nav-text {
  background-color: #fff;
  color: #16161d;
  padding: 1.25em 0.5em 1.5em;
  margin-top: 0;
}

.nav-container {
  display: flex;
  margin-top: 0;
  height: 6em;
  padding: 0em 3em 1.5em;
  font-weight: 400;
  border-bottom: 1.5px solid #d42f13;
}

/* Home page */

.img-container {
  background-image: url("./images/tierra-mallorca-rgJ1J8SDEAY-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

.transparent-container {
  /* width: 80%; */
  min-width: 15em;
  margin: auto;
  text-align: center;
  padding: 3em;
  background-color: rgba(0, 0, 0, 0.7);
}